@main-color: #fff;
@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('../fonts/AvenirNext-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
.Destination{
    width: 99.9%;
    height: 100vh;
    padding: 1px;
    font-family: Georgia, sans-serif;
    background-color: #ccc;
    background-image: url(http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,g_center,h_700,w_1440/v1514576768/Antarctica_2BHD_2BWallpapers_2B6_qdfx74.jpg);
    background-size: cover;
    /*background-position-y: 100%;*/
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    &::after{
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: 40px;
        top: 40px;
        border-left: 2px solid @main-color;
        border-right: 2px solid @main-color;
        border-top:2px solid  @main-color;
        content: '';
        z-index: 100;
    }
    &__caption{
        font-size:200px;
        font-weight: bold;
        margin: auto;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        color:#fff;
    }
    &__description{
        color:#fff;
        font-size:24px;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
        margin: 30px auto;
        &::before{
            position: absolute;
            content: '';
            height: 1px;
            width: ~"calc( 50% - 270px)";
            right: 40px;
            border-top: 2px solid @main-color;
            bottom: 38px;
        }
        &::after{
            position: absolute;
            content: '';
            height: 1px;
            width: ~"calc( 50% - 270px)";
            left: 40px;
            border-top: 2px solid  @main-color ;
            bottom: 38px;

        }
    }
}