<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Footer.css">
    </head>
    <body>
        <section class="Footer">
            <section class="Select-boxes">
                <div class="Language">
                    <select class="Language__select">
                        <option value="1">English</option>
                        <option value="2">Ukrainian</option>
                        <option value="3">Polski</option>
                        <option value="4">Espanol</option>
                        <option value="5">Italian</option>
                        <option value="6">Japanese</option>
                    </select>
                </div>
                <div class="Payment-currency">
                    <select class="Payment-currency__select">
                        <option value="1">INR</option>
                        <option value="2">USD</option>
                        <option value="3">EUR</option>
                        <option value="4">UAH</option>
                    </select>
                </div>
            </section>
            <aside class="Additional-info">
                <div class="Additional-info__item">
                    <p class="Additional-info__item_title">Airbnb</p>
                    <a class="Additional-info__item_link" href="">About us</a>
                    <a class="Additional-info__item_link" href="">Careers</a>
                    <a class="Additional-info__item_link" href="">Press</a>
                    <a class="Additional-info__item_link" href="">Policies</a>
                    <a class="Additional-info__item_link" href="">Help</a>
                    <a class="Additional-info__item_link" href="">Diversity & Belonging</a>
                </div>
                <div class="Additional-info__item">
                    <p class="Additional-info__item_title">Discover</p>
                    <a class="Additional-info__item_link" href="">Trust & Safety</a>
                    <a class="Additional-info__item_link" href="">Travel Credit</a>
                    <a class="Additional-info__item_link" href="">Gidt Cards</a>
                    <a class="Additional-info__item_link" href="">Airbnb Citizen</a>
                    <a class="Additional-info__item_link" href="">Business Travel</a>
                    <a class="Additional-info__item_link" href="">Guidebooks</a>
                    <a class="Additional-info__item_link" href="">Airbnbmag</a>
                </div>
                <div class="Additional-info__item">
                    <p class="Additional-info__item_title">Hosting</p>
                    <a class="Additional-info__item_link" href="">Why Host</a>
                    <a class="Additional-info__item_link" href="">Hospitality</a>
                    <a class="Additional-info__item_link" href="">Responsible Hosting</a>
                    <a class="Additional-info__item_link" href="">Community Center</a>
                </div>
            </aside>
            <div class="Divider"></div>
            <div class="Copyright">Airbnb, Inc.</div>
            <div class="Terms-Privacy-SiteMap">
                <a class="Terms-Privacy-SiteMap__item" href="">Terms</a>
                <a class="Terms-Privacy-SiteMap__item" href="">Privacy</a>
                <a class="Terms-Privacy-SiteMap__item" href="">Site Map</a>
            </div>
            <div class="Social-network-icons"></div>
        </section>
    </body>
</html>