<!doctype html>
<html lang="    ">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Search-destination.css">
    </head>
    <body>
        <form class="Search-destination" action="">
            <img class="Search-destination__icon" src="">
            <input class="Search-destination__input" type="search" placeholder="Anywhere">
            <img class="Search-destination__icon" src="">
            <input class="Search-destination__input" type="search" placeholder="Anytime">
            <img class="Search-destination__icon" src="">
            <input class="Search-destination__input" type="search" placeholder="1 guest">
        </form>
    </body>
</html>