<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Site-navigation.css">
    </head>
    <body>
        <nav class="Site-navigation">
            <a class="Site-navigation__item Site-navigation__item_for-you" href="">FOR YOU</a>
            <a class="Site-navigation__item" href="">HOMES</a>
            <a class="Site-navigation__item" href="">EXPERIENCES</a>
            <a class="Site-navigation__item" href="">PLACES</a>
        </nav>
    </body>
</html>