<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/User-navigation.css">
    </head>
    <body>
        <nav class="User-navigation">
            <a class="User-navigation__item" href="">Become a host</a>
            <a class="User-navigation__item" href="">Help</a>
            <a class="User-navigation__item" href="">Sign in</a>
            <a class="User-navigation__item" href="">Log in</a>
        </nav>
    </body>
</html>