<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Let's start!</p>
<script>
    var isAdmin = confirm("blabla");

    alert( isAdmin );

</script>
<p>Yupp!</p>
</body>
</html>