
<section class="layout  container_16 ">

    <header class="layout__header "></header>

    <!--<aside class="layout__aside-feed"></aside>-->

    <main class="layout__main-feed container_16" ></main>

    <footer class="layout__footer "></footer>

</section>
