
<section class="layout debug">

    <header class="layout__header ">



    </header>

    <aside class="layout__aside-feed">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus accusantium autem deleniti distinctio doloribus est
        exercitationem illo incidunt iure labore
        mollitia nulla odio quae quos ratione tenetur, velit v
        oluptate! Blanditiis.
    </aside>

    <!--TODO deal with partials-->

    <main class="layout__main-feed">

        <section class="tastig-room">
            <header class="fancy-header">
                <section class="img-gallery">
                    <a href="#" role="button" class="img-gallery__more-switch"> View more images --> </a>
                    <img src = "#" class="img-gallery__pic"><img src = "#" class="img-gallery__pic">

                    <!--TODO img names from HBS     -->
                </section>

                <section class="header__epithaphy"> </section>
                <img src="#" class="lable">
            </header>


            <h2> Tasting Room & Restorant </h2>

            <a href="#" role="link" class="document_link"></a>
            <section class="contacts"> 12pm - 5pm
                7 days

                {{phone-number}}

                or <a href="#" class="document_link" role="link"> email </a>
                <a href="#" class="document_link" role="link" >map</a>


                <!--TODO rest of stuff from HBS -->
            </section>
            <section class="contacts"> </section>


        </section>

        <section class="img-gallery">
            <a href="#" role="button" class="img-gallery__more-switch"> View more images --> </a>

            <img src = "#" class="img-gallery__pic"><img src = "#" class="img-gallery__pic">
            <!--TODO img names from HBS     -->
        </section>



        <section class="img-gallery">
            <a href="#" role="button" class="img-gallery__more-switch"> View more images --> </a>

            <img src = "#" class="img-gallery__pic"><img src = "#" class="img-gallery__pic">
            <!--TODO img names from HBS     -->
        </section>



        <section class="releases">
            <article class="realeases__article">
                <!--TODO implement with handlebars-->
                <a href="#" class="relese__naming"> Treble Rose 2017 </a>
                <span class="relese__text">Our three vineyards together as one.
            We harvest five varieties across these vineyard
            s and progressivley co-ferment the whole lot.  A com
            bination of fragrance, complexity & invigorating brightness.</span>
                <a href="#" class="relese__price"> Treble Rose 2017 </a>
            </article>
        </section>


        <section class="feedbacks">
            <list class="feedbacks__comments_gallery">
                <article class="impression">
                    <section class="impression__text"></section>
                    <section class="impression__author_small"></section>
                    <small class="impression__wine_small"></small>
                </article>
                <!--TODO comments list-->
            </list>
        </section>

        <aside class="img-aside">
            <img src= # >
            <!--"imgs/wine.jpg">-->
        </aside>
    </main>
    <footer class="layout__footer">

        <a href="#" class="footer__action_large" ></a>
        <a href="#" class="footer__more-info" ></a>
        <a href="#" class="footer__more-info_social-media" ></a>

        <p class="footer__notification">
            <!--TODO this block from HBS-->
            License no: {{licence-number}}
            Expiry Date: {{expiry-date}} . A copy of our license can be viewed here.
        </p>


    </footer>

</section>
<!--</body>-->
