<section class="main-tasting-room container_16">
    {{#main-tasting-room}}
<header class="main-tasting-room__header container_16" >

    <div class="main-tasting-room__epigraph grid_4 prefix_4 alpha">{{epigraph-text}}</div>
    <img class="main-tasting-room__emblem" src={{emblem-src}} alt="BLACK_ESTATE">
</header>
        <p class="main-tasting-room__side-note grid_4 prefix_1">
            Side note <br><br>
            {{side-note-text}}</p>
        <img class="main-tasting-room__tasty-img" src={{tasty-img-url}} alt="tasty_img">
    <div class="
    main-tasting-room__info_container
     container_16
      grid_11 prefix_6"></div>

    {{/main-tasting-room}}
</section>