<section class="review__container  prefix_6">
    <!--TODO add animation-->
    {{#each reviews}}
    <article class="review grid_4">
        <p class="review__text">{{text}}</p>
        <small class="review__info"> {{who}}, {{where}}</small>
        <small class="review__info"> {{about_what}}</small>
    </article>
    {{/each}}
</section>