<section class="vintage">
<img src={{side-pic}} alt={{side-pic-alt}} class="vintage__side-pic">
<h2 class="vintage__side-pic layout__main_2cols"> {{header}} </h2>
<div class="vintage__commercial-report layout__main_2cols"> {{commercial-report}}  </div>
</section>