

<section class="vintage container_16" >
    {{#side-pic}}
        <img src={{pic-url}} alt={{pic-alt}} class="vintage__side-pic  grid_4 prefix_2">
    {{/side-pic}}

    <h2 class="vintage__header grid_4 prefix_6"> {{header}} </h2>
    <div class="vintage__commercial-report prefix_11 grid_4"> {{commercial-report}}  </div>
</section>

<section class="vintage__content container_16">
    {{> wines }}
</section>