.actions__feeds__item__img {
  border-radius: 22px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.actions__feeds__common {
  font-size: 12px;
  font-weight: 100;
}

.actions__feeds__name {
  font-weight: bold
}