@color_1: #365899;
@background_color_1: #dddfe2;
@border_color_1: #dddfe2;

.new-feed__actions_photo {
  border-radius: 20px;
  margin: 0 3px;
  padding: 4px 12px;
  &:hover {
    background-color: @background_color_1;
    border-color: @border_color_1;
  }
}
.new-feed__actions_emotions {
  border-radius: 20px;
  margin: 0 3px;
  padding: 4px 12px;
  &:hover {
    background-color: @background_color_1;
    border-color: @border_color_1;
  }
}
.new-feed__actions_more {
  border-radius: 20px;
  width: 40px;
  margin: 0 3px;
  padding: 4px 12px;
  &:hover {
    background-color: @background_color_1;
    border-color: @border_color_1;
  }
}
.new-feed__actions_album {
  border-left: 1px solid #ced0d4;
  padding: 0 0 0 8px;
  margin: 4px;
  color: @color_1;
}
.new-feed__actions_video {
  border-left: 1px solid #ced0d4;
  padding: 0 0 0 8px;
  margin: 4px;
  color: @color_1;
  border-radius: 0 0 10px 0;
}
.new-feed__actions_create {
  border-radius: 10px 0 0 0;
}

.new-feed__actions_post {
  background-color: #4267b2;
  border-color: #4267b2;
  color: white;
  border-style: solid;
  border-radius: 4px
}



.new-feed__actions_chose {
  border-radius: 4px;
  border: #ced0d4 solid 1px ;
  padding-right: 12px;
  padding-left: 12px;
}
