.quick__friends {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 12px;
}

.quick__friends__link {
  color: midnightblue;
  font-size: 13px;
  font-weight: 100;
  display: inline-block;
  margin-right: 12px;
  float: right;
  margin-top: 7px;
}

.quick__friends__item {
  margin: 7px;
}

.quick__friends__img {
  float: left;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px
}

.quick__friends__header {
  font-size: 13px;
  color: midnightblue;
  font-weight: 500;
  margin: 0;
}


.quick__friends__button {
  background-color: #f6f7f9;
  border:1px solid #ced0d4;
  color: #4b4f56;
  box-shadow: none;
  height: 23px;
  font-weight: 600;
  font-size: 12px;
}

