.quick__recomendation{
  background-color: white; border-radius: 5px; padding-bottom: 12px; margin-top: 10px
}

.quick__recomendation__img{display: block; margin-left: auto; margin-right: auto;}
.quick__recomendation__text{margin:7px;}

.quick__recomendation__header{font-size: 13px; color: midnightblue; font-weight: 500; margin-left: 12px;margin-bottom: 0}

