.quick {
  position: absolute;
  left: 704px;
  top: 10px;
  width: 308px;
}

.quick-item {
  padding: 10px 3px 0 3px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.quick__header {
  font-size: 13px;
  color: dimgrey;
  margin: 0;
  display: inline-block;
  margin-left: 12px;
  margin-top: 7px;
}

.quick-link{
  display: flex;
  align-items: center;
  margin: 3px;
}


.quick__common {
  font-size: 12px;
  font-weight: 300;
  margin: 2px 0;
}

.quick-link__event{
  object-position:  -11px -50px; object-fit: none;
  height: 25px;margin-right: 4px;
}
.quick-link__birthday {object-position:  -11px -87px; object-fit: none;
  height: 25px;margin-right: 4px}

.more-link{color: midnightblue; font-weight: bold; display: inline-block; margin: 0;}
