.element {
    display: inline-block;
    margin-top: 50px;
    width: 300px;
    /*transform: rotate(30deg);*/
    opacity: .7;
}

/*.element:hover {
    animation: three 3s infinite;
}*/

.element:hover {
    animation: roll 3s infinite;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes three {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(100deg);
    }
}




