.switcher {
    position: relative;
    left: 615px;
}



.moon {
    box-shadow: inset -10px 2px 0 0 #899098;
}


.switcher:checked ~ .day .big-c {
    fill: url(#day-sky)
}
.switcher ~ .day .big-c {
    fill: url(#night-sky)
}

.switcher:checked ~ .day path {
    fill: url(#day-water);
}
.switcher ~ .day path {
    fill: url(#night-water);
}

.switcher:checked ~ .day .sun {
    opacity: 1;
    transform: translate(0px, 0px);
}
.switcher ~ .day .sun {
    opacity: 0;
    transition: 1.5s;
    transform: translate(-50px, 60px);
}

.switcher:checked ~ .day .moon {
    opacity: 0;
    transform: translate(150px, -160px);
}
.switcher ~ .day .moon {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all 1.5s;
}

.switcher:checked ~ .day .stars {
    opacity: 0;
    transform: translate(250px, -200px);
}
.switcher ~ .day .stars {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all 1.5s;
}