.Icons {

  &__home {
    height: 16px;
    width: 16px;
    background-image: url("../img/foundation_home_simple.svg");
    background-size: cover;
    opacity: .4;
    margin-right: 10px;
  }

  &__messages{
    height: 16px;
    width: 16px;
    background-image: url("../img/120px-High-contrast-mail-mark-unread.png");
    background-size: cover;
    opacity: .4;
    margin-right: 10px;
  }

  &__workout {
    height: 16px;
    width: 16px;
    background-image: url("../img/clipboard-checkmark-512.svg");
    background-size: cover;
    opacity: .4;
    margin-right: 10px;
  }

  &__calendar {
    height: 16px;
    width: 16px;
    background-image: url("../img/my_calendar.svg");
    background-size: cover;
    margin-right: 10px;
  }

  &__goals {
    height: 16px;
    width: 16px;
    background-image: url("../img/column-chart.png");
    background-size: cover;
    opacity: .4;
    margin-right: 10px;
  }

  &__achivements {
    height: 16px;
    width: 16px;
    background-image: url("../img/cup.png");
    background-size: cover;
    opacity: .4;
    margin-right: 10px;
  }

  &__measurements {
    height: 16px;
    width: 16px;
    background-image: url("../img/sound-mix.png");
    background-size: cover;
    opacity: .4;
    margin-right: 10px;
  }
}