.Layout {

  &__aside {
    left: 0;
    width: 224px;
    top: 0;
    bottom: 0;
    position: fixed;
    max-height: 100%;
    background-color: #ffffff;
    box-shadow: -8px 0 42px 0 rgba(42, 34, 64, 0.14);
  }

  &__main {
    position: fixed;
    top: 0;
    right:0px;
    bottom: 0px;
    left: 224px;
    max-height: 100%;
    background-color: #fcfbfc;
  }
}