@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../font/Montserrat-ExtraBold.otf");
}

.Logo {

  align-self: center;
  display: flex;
  font-family: 'Montserrat ExtraBold', sans-serif;
  font-size: 1.2em;
  margin-top: 23px;
  background-color: #FFFFFF;

  &__part1 {
    color: rgba(237,84,84,.5);

  }

  &__part2 {
    margin-left: 2px;
    color: #ed5454;
  }
}