.Navigation {

  &__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 15px;
  }

  &__item-name {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #a8b2b9;
    margin-left: 10px;

    &_selected {
      color: #292529;
    }
  }
}

