@import "vars";
@import "Mixins";
@sprite: "../images/icons-user-page-2.png";

.Featured-albums {
  .appearance;
  padding-left: 10px;
  &__title {
    margin: 10px;
  }
  &__icon {
    margin-right: 10px;
    margin-bottom: 3px;
    .sprite-background(@sprite, 24px, 24px);
  }
}

.Icon_albums {background-position: 0 166px;}