.Facebook {
  margin-right: 205px;
}
.Facebook__payload {
  margin-top: 35px;
  width: 961px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.Facebook__news-line {
  float: left;
  width: 500px;
}
.Facebook__ad-feed {
  float: left;
  width: 250px;
  margin-left: 10px;
}
.Tool-bar {
  float: left;
  width: 180px;
}
