<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Event.css">
</head>
<body>
    <span class="Event Event_pased">
        Cycling
    </span>
    <span class="Event Event_coming_green">
        Triple Treat
    </span>
    <span class="Event Event_coming_orange">
        2km Run
    </span>
    <span class="Event Event_coming_blue">
        5km Run
    </span>
    <span class="Event Event_coming_green">
        Trieple Treat
    </span>
    <span class="Event Event_coming_blue">
        Endurance Run
    </span>
    <span class="Event Event_coming_orange">
        Cycling
    </span>
</body>
</html>