<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Icons.css">
    <link rel="stylesheet" href="style/Navigation.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <nav class="Navigation">
        <a class="Navigation__item" href="#"><div class="Icons__home"></div> <p class="Navigation__item-name">OVERVIEW</p></a>
        <a class="Navigation__item" href="#"><div class="Icons__messages"></div> <p class="Navigation__item-name">MESSAGES</p></a>
        <a class="Navigation__item" href="#"><div class="Icons__workout"></div> <p class="Navigation__item-name">WORKOUT</p></a>
        <a class="Navigation__item Navigation__item_selected" href="#"><div class="Icons__calendar"></div> <p class="Navigation__item-name Navigation__item-name_selected">CALENDAR</p></a>
        <a class="Navigation__item" href="#"><div class="Icons__goals"></div> <p class="Navigation__item-name">GOALS</p></a>
        <a class="Navigation__item" href="#"><div class="Icons__achivements"></div> <p class="Navigation__item-name">ACHIEVEMENTS</p></a>
        <a class="Navigation__item" href="#"><div class="Icons__measurements"></div> <p class="Navigation__item-name">MEASUREMENTS</p></a>
    </nav>
</body>
</html>