<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style/Switchers.css">
</head>
<body>
	<div class="Switcher">
        <button class="Switcher Switcher_off">Week</button>
        <button class="Switcher Switcher_on">Month</button>
    </div>
</body>
</html>