<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Layout.css">
</head>
<body class="Layout">
    <aside class="Layout__aside">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda aut autem consectetur, delectus facilis harum magni maiores necessitatibus nihil omnis perspiciatis porro quidem quis quod sed sequi tenetur ut!
    </aside>
    <main class="Layout__main">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae, consequatur ducimus eaque eos et eum ex facere illo illum inventore laudantium neque, quaerat quidem quod temporibus ullam veritatis voluptate?
    </main>
</body>
</html>