<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    
    <link rel="stylesheet" href="less/main.css">
</head>

<body>

    <div class="wrapper">
        <section class="Article">
            <h2 class="Article__caption">Why you’ll love Antarctica</h2>
            <p class="Article__description">Preserved for peace and science, this ice-crowned continent rewards the traveler with inspiration, adventure and perspective. There’s nothing quite like seeing ice shimmering in all directions, reflecting sunlight through each season, or the blazing twinkle of a velvet blanket of stars in winter. Wildlife roams freely, with penguins, seals and seabirds unafraid of human visitors. <a href="" class="Link__read_more">Read more</a></p>
        </section>

         <article class="Article">
            <h2 class="Article__caption">What Antarctica is about</h2>
            <p calss="Article__description">Preserved for peace and science, this ice-crowned continent rewards the traveler with inspiration, adventure and perspective. There’s nothing quite like seeing ice shimmering in all directions, reflecting sunlight through each season, or the blazing twinkle of a velvet blanket of stars in winter. Wildlife roams freely, with penguins, seals and seabirds unafraid of human visitors. <a href="" class="Link__read_more">Read more </a></p>
        </article>
    </div>
 
</body>

</html>