<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="less/Interactive.css">
    <link rel="stylesheet" href="less/main.css">

    
</head>

<body>
   <section class="Interactive">
            <h2 class="Interactive__caption">King Penguins</h2>

            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,h_600/v1514583379/King_kqnas3.jpg" alt="" class="Interactive__image">
            <p class="Interactive__description">King penguins are one of the species that people think of when the think of penguins. Along with Adelie penguins, and Emperor penguins they have come to represent the whole group. They are very upright, dignified and handsome birds and when they emerge from the sea pristine and glistening there can be no cleaner or more elegant creature around.</p>
     </section>
  
</body>
</html>