<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    <link rel="stylesheet" href="less/Photo__description.css">
    <link rel="stylesheet" href="less/main.css">
    
</head>

<body>
 <article class="Photo__description Photo__description_left">
            <h3 class="Photo__description_caption">No trees or bushes at all</h3>
            <p class="Photo__description_article">Vegetation is limited to  about 350 species of mostly lichens, mosses, and algae. There are lush beds of such vegetation in some parts of the Antarctic Peninsula.  Lichens have been discovered growing on isolated mountains within 475 km (295 mls) of the South Pole. </p>
        </article>
 <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,e_auto_contrast,w_570/v1514582782/04_qu0rh1.png" alt="" class="Photo__description_image Photo__description_image_right">

        <article class="Photo__description Photo__description_right">
            <h3 class="Photo__description_caption">Wildlife of Antarctica</h3>
            <p class="Photo__description_article">The most abundant and best known animals from the southern continent. Penguins, whales seals, albatrosses, other seabirds and a range of invertebrates you may have not heard of such as krill which form the basis of the Antarctic food web. </p>
        </article>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,e_auto_contrast,w_570/v1514583098/0_15e76_7d3c623b_XL_n5ikki.png" alt="" class="Photo__description_image Photo__description_image_left">

</body>
</html>