<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calendar</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="style/Layout.css">
</head>
<body class="Layout">
<aside class="Layout__aside">
    <img class="Logo" src=""></img>
    <figure class="Profile">
        <img class="Profile__icon" src="" alt="">
        <p class="Profile__name"></p>
    </figure>
    <nav class="Navigation">
        <a class="Navigation__item" href=""></a>
        <a class="Navigation__item" href=""></a>
        <a class="Navigation__item" href=""></a>
        <a class="Navigation__item" href=""></a>
        <a class="Navigation__item" href=""></a>
        <a class="Navigation__item" href=""></a>
        <a class="Navigation__item" href=""></a>
    </nav>
</aside>
<main class="Layout__main">
    <div class="Calendar">
        <section class="Calrndar__header">
            <div class="Calendar_time-period-switcher">
                <div class="Switcher">

                </div>
            </div>
            <div class="Calendar__month-switcher">

            </div>
            <div class="Search">

            </div>
        </section>
        <section class="Calendar__body">


        </section>
    </div>

</main>

    <div class="Sitemap">
        <img class="Sitemap__logo" src="" alt="">
        <figure class="Sitemap__autor">
            <img class="Sitemap__autor-icon" src="" alt="">
            <p class="Sitemap__autor-name"></p>
        </figure>
        <nav class="Sitemap__item">
            <img class="Sitemap__item-icon" src="" alt="">
            <p class="Sitemap__item-name"></p>
        </nav>
        <nav class="Sitemap__item">
            <img class="Sitemap__item-icon" src="" alt="">
            <p class="Sitemap__item-name"></p>
        </nav>
        <nav class="Sitemap__item">
            <img class="Sitemap__item-icon" src="" alt="">
            <p class="Sitemap__item-name"></p>
        </nav>
        <nav class="Sitemap__item">
            <img class="Sitemap__item-icon" src="" alt="">
            <p class="Sitemap__item-name"></p>
        </nav>
        <nav class="Sitemap__item">
            <img class="Sitemap__item-icon" src="" alt="">
            <p class="Sitemap__item-name"></p>
        </nav>
        <nav class="Sitemap__item">
            <img class="Sitemap__item-icon" src="" alt="">
            <p class="Sitemap__item-name"></p>
        </nav>
        <nav class="Sitemap__item">
            <img class="Sitemap__item-icon" src="" alt="">
            <p class="Sitemap__item-name"></p>
        </nav>
        <footer class="Sitemap__footer">
            <p>®Smooozy.com, 2017</p>
        </footer>
    </div>
</aside>
<div class="Layout__wrapper">
    <header class="Layout__header">
        <div class="Navigation">
            <form class="Selection" action="#">
                <button class="Selection__button">Week</button>
                <button class="Selection__button Selection__button_active">Month</button>
            </form>
            <section class="Carusel">
                <img class="Carusel__arrow" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/a_180/v1515333945/arrow-right-01-256_b40xbs.png" alt="arrow">
                <p class="Carusel__selection">June 2017</p>
                <img class="Carusel__arrow" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/v1515333945/arrow-right-01-256_b40xbs.png" alt="arrow">
            </section>
            <section class="Seach">
                <input class="Search__field" type="search" placeholder="What are you looking for?">
                <button class="Search__button"></button>
            </section>
        </div>
    </header>
    <main class="Layout__calendar">
        <article class="Calendar">
            <section class="Days">
                <p class="Days__item">MON</p>
                <p class="Days__item">TUE</p>
                <p class="Days__item">WED</p>
                <p class="Days__item">THU</p>
                <p class="Days__item">FRI</p>
                <p class="Days__item">SAT</p>
                <p class="Days__item">SUN</p>
            </section>
            <section class="Dates">
                <p class="Dates__item">1</p>
                <p class="Dates__item">2</p>
                <p class="Dates__item">3</p>
                <p class="Dates__item">4</p>
                <p class="Dates__item">5</p>
                <p class="Dates__item">6</p>
                <p class="Dates__item">7</p>
                <p class="Dates__item">8</p>
                <p class="Dates__item">9</p>
                <p class="Dates__item">10</p>
                <p class="Dates__item">11</p>
                <p class="Dates__item">12</p>
                <p class="Dates__item">13</p>
                <p class="Dates__item">14</p>
                <p class="Dates__item">15</p>
                <p class="Dates__item">16</p>
                <p class="Dates__item">17</p>
                <p class="Dates__item">18</p>
                <p class="Dates__item">19</p>
                <p class="Dates__item">20</p>
                <p class="Dates__item">21</p>
                <p class="Dates__item">22</p>
                <p class="Dates__item">23</p>
                <p class="Dates__item">24</p>
                <p class="Dates__item">25</p>
                <p class="Dates__item">26</p>
                <p class="Dates__item">27</p>
                <p class="Dates__item">28</p>
                <p class="Dates__item">29</p>
                <p class="Dates__item">30</p>
                <p class="Dates__item">31</p>
                <p class="Dates__item Dates__item_next-month">1</p>
                <p class="Dates__item Dates__item_next-month">2</p>
                <p class="Dates__item Dates__item_next-month">3</p>
                <p class="Dates__item Dates__item_next-month">4</p>
            </section>
        </article>
    </main>
</div>

</body>
</html>