<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calendar</title>
    <!--<link rel="stylesheet" href="Style/Calendar.css">-->
    <style>
        .Layout {
            display: flex;
            flex-direction: row;
        }


        .Layout__aside {
             width: 224px;
             height: 947px;
             display: flex;
             flex-direction: column;
             background-color: #ffffff;
         }

        .Layout__main {
             width: 1097.8px;
             height: 947px;
             display: flex;
             flex-direction: column;
             background-color: #f8f7f8;
         }


        .Header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .Navigation__copyright {
            margin-top: 232px;
        }

        .Toggler__week {
            width: 102px;
            height: 45px;
            margin-right: 0;
            border-radius: 5px;
            box-shadow: 0 8px 16px 0 rgba(243, 0, 0, 0.1);
            border: solid 1px #ffffff;
        }

        .Toggler__month {
            width: 102px;
            height: 45px;
            margin-left: 0;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0 8px 16px 0 rgba(243, 0, 0, 0.1);
            border: solid 1px #ffffff;
        }

        .Search {
            float: right;
        }

        .Calendar {
            width: 993px;
            display: flex;
            margin-left: 59.8px;
            flex-direction: column;
            background-color: #00b300;
        }

        .Calendar__weekside {
             display: flex;
             flex-direction: row;
             justify-content: space-between;
         }

        .Calendar__weekside-day {
            width: 139.8px;
            height: 13px;
            text-align: center;
        }

        .Calendar__main {
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;

         }

        .Calendar__cell {
            width: 139.8px;
            height: 122px;
            border: solid 1px #efefef;

        }

        .Calendar__cell-date {
            float: right;
            margin-right: 20px;
            margin-top: 20px;
        }

    </style>
</head>
<body>
<main class="Layout">
    <aside class="Layout__aside">
        <section class="Logo">
            <p class="Logo__title">the logo</p>
        </section>
        <section class="Profile">
            <img src="" alt="" class="Profile__pic">
            <p class="Profile__name">M. Naminovskiy</p>
        </section>
        <section class="Navigation">
            <div class="Navigation__element">
                <img src="" alt="" class="Navigation__element-icon">
                <p class="Navigation__element-text">Overview</p>
            </div>
            <div class="Navigation__element">
                <img src="" alt="" class="Navigation__element-icon">
                <p class="Navigation__element-text">Messages</p>
            </div>
            <div class="Navigation__element">
                <img src="" alt="" class="Navigation__element-icon">
                <p class="Navigation__element-text">Workout</p>
            </div>
            <div class="Navigation__element">
                <img src="" alt="" class="Navigation__element-icon">
                <p class="Navigation__element-text">Calendar</p>
            </div>
            <div class="Navigation__element">
                <img src="" alt="" class="Navigation__element-icon">
                <p class="Navigation__element-text">Goals</p>
            </div>
            <div class="Navigation__element">
                <img src="" alt="" class="Navigation__element-icon">
                <p class="Navigation__element-text">Achivements</p>
            </div>
            <div class="Navigation__element">
                <img src="" alt="" class="Navigation__element-icon">
                <p class="Navigation__element-text">Measurements</p>
            </div>
            <p class="Navigation__copyright">®Smooozy.com, 2017</p>
        </section>
    </aside>
    <aside class="Layout__main">
        <section class="Header">
            <div class="Toggler">
                <button class="Toggler__week">Week</button>
                <button class="Toggler__month">Month</button>
            </div>
            <p class="Header__title">June 2017</p>
             <div class="Search">
                 <input>What are you looking for?</input>
             </div>
        </section>
        <section class="Calendar">
            <div class="Calendar__weekside">
                <p class="Calendar__weekside-day">Mon</p>
                <p class="Calendar__weekside-day">tue</p>
                <p class="Calendar__weekside-day">wed</p>
                <p class="Calendar__weekside-day">thu</p>
                <p class="Calendar__weekside-day">fri</p>
                <p class="Calendar__weekside-day">sat</p>
                <p class="Calendar__weekside-day">sun</p>
            </div>
            <div class="Calendar__main">
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">1</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">2</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">3</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">4</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">5</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">6</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">7</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">8</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">9</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">10</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">11</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">12</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">13</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">14</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">15</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">16</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">17</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">18</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">19</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">20</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">21</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">22</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">23</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">24</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">25</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">26</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">27</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">28</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">29</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">30</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">31</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">1</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">2</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">3</time>
            </div>
            <div class="Calendar__cell">
                <time class="Calendar__cell-date">4</time>
            </div>
            </div>
        </section>
        <section class="Event"></section>
    </aside>
</main>
</body>
</html>
