<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/Group-suggest.css"/>
    <title>Group Suggest</title>
</head>
<body>
<div class="Group-suggest">
    <h5 class="Group-suggest__title">Suggested Groups
        <a href="#" class="Group-suggest__title-more">See All</a>
    </h5>
    {{#Group.Group-suggest}}
        <div class="Group-suggest__group">
            <a href="#">
                <div class="Group-suggest__group-cover"></div>
            </a>
            <a href="{{link}}"><h5 class="Group-suggest__group-name">{{group-name}}</h5></a>
            <p class="Group-suggest__group-members">{{members}}</p>
            <form action="#">
                <button class="Group-suggest__group-button" type="button">+ Join</button>
            </form>
        </div>
    {{/Group.Group-suggest}}
</div>
</body>
</html>