.mails-section__bottom-info{
    background-color: white;
    display: block;
    .bottom-info__mails-info{
        float: left;
        margin-top: 5px;
        width: 150px;
        font-size: 15px;
        color: #808080;
        .mails-info__config{
            text-decoration: underline;
        }
    }
    .bottom-info__google-info {
        float: left;
        font-size: 15px;
        color: #808080;
        margin-left: 30%;
        width: 15%;
        .google-info__config {
            color: #808080;
            text-decoration: underline;
        }
        .google-info__google-logo {
            margin-top: 2%;
            width: 25%;
            height: 25%;
        }
    }
}