.bottom-info{
    width: 85%;
    float:right;
    display: block;
    .bottom-info__mails-info{
        margin-top: 5px;
        width: 150px;
        font-size: 15px;
        color: #808080;
        .mails-info__config{
            text-decoration: underline;
        }

    }
}