#mail-form{
    display: block;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: arial,sans-serif;
}
.mails-section{
    display: block;
    float: left;
    width: 84%;
    margin-top: 0;
    overflow-y: auto;
    max-height: 540px;
    .mails-section__mail{
        background-color: #f0f0f0;
        padding-top: 5px;
        padding-bottom: 25px;
        border-bottom: darkgrey 1px solid;
        .mail__check-box{
             float: left;
             margin-left: 1%;
         }
        .mail__star-img{
            display: block;
            margin: auto;
            float: left;
            margin-right: 2%;
        }
        .mail__sender{
            width: 10%;
            text-align: left;
            #mail-form
        }
        .mail__subject{
            width: 12%;
            margin-left: 3%;
            margin-right: 0;
            #mail-form
        }
        .mail__text{
            width: 60%;
            color: gray;
            margin-left:0;
            #mail-form
        }.mail__time{
            float: right;
            text-align:right ;
            margin-right: 1%;
            width: 5%;
            font-size: 15px;
        }
    }
}