#mail-form{
    display: block;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mails-section{
    display: block;
    float: right;
    width: 88%;
    background-color: #f0f0f0;
}
.mails-section__mail{
    padding-top: 5px;
    padding-bottom: 25px;
    border-bottom: darkgrey 1px solid;
}
.mails-section__mail__check-box{
     float: left;
     margin-left: 1%;
 }
.mails-section__mail__star-img{
    display: block;
    margin: auto;
    float: left;
    margin-right: 2%;
}
.mails-section__mail__sender{
    width: 10%;
    #mail-form
}
.mails-section__mail__subject{
    width: 12%;
    margin-left: 3%;
    #mail-form
}
.mails-section__mail__text{
    width: 60%;
    color: gray;
    #mail-form
}.mails-section__mail__time{
    float: right;
    margin-right: 1%;
    width: 4%;
}