<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<img src="svg/rotate.svg"/>
<img src="svg/mask1.svg"/>
<img src="svg/mask.svg"/>
<img src="svg/text.svg"/>
<img src="svg/paterns.svg"/>
<img src="svg/spreadMethod.svg"/>
<img src="svg/radial-gradient.svg"/>
<img src="svg/gradient.svg"/>
<img src="svg/rect.svg"/>
<img src="svg/line2.svg"/>
<img src="svg/stroce-line.svg"/>
<img src="svg/line.svg"/>
<img src="svg/arc.svg"/>
<img src="svg/bezier2.svg"/>
<img src="svg/bezier.svg"/>
<img src="svg/first-example.svg"/>
<img src="svg/basic-shpes.svg"/>
<img src="svg/line-comands.svg"/>

</body>
</html>