<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Airbnb Homepage</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
	<link rel="stylesheet" href="style/style.css">
</head>
<body class="Layout">
	<header class="Layout__header">
		<a href="" class="Logo"></a>
		<nav class="Navigation">
			<a href="" class="Navigation__item">Become a Host</a>
			<a href="" class="Navigation__item">Help</a>
			<a href="" class="Navigation__item">Sing up</a>
			<a href="" class="Navigation__item">Log in</a>
		</nav>
	</header>
	<maiyn class="Layout__main">
		<h2 class="Promo__title">Airbnb</h2>
		<p class="Promo__description">Book unique homes and experience a city like a local.</p>
		<form action="search" class="Search">
			<input type="text" placeholder="Try “Osaka”" class="Search__input">
			<button class="Search__button">Search</button>
		</form>
		
	</main>
	<footer class="Layout__footer">
		
	</footer>
</body>
</html>