.Create-message {
  height: 62px;
  background-color: #fff;
  border-top: #e5e5e5 1px solid;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.Create-message__input {
  margin: 7px 16px 0 16px;
  font-size: 12px;
  color: #353535;
  border: none;
  display: block;
  width: 260px;
}
.Create-message__input::placeholder {
  color: #cdcdcd;
  font-weight: 600;
}
.Create-message__icon {
  float: left;
}
.Create-message__icon_picture {
  background: url("../images/Picture.svg") no-repeat;
  margin: 10px 0 12px 16px;
  width: 16px;
  height: 16px;
}
.Create-message__icon_gif {
  background: url("../images/Gif.svg") no-repeat;
  margin: 9px 0 13px 10px;
  width: 21px;
  height: 16px;
}
.Create-message__icon_smile {
  background: url("../images/Smile.svg") no-repeat;
  margin: 9px 0 13px 10px;
  width: 16px;
  height: 16px;
}
.Create-message__icon_calendar {
  background: url("../images/Calendar.svg") no-repeat;
  margin: 7px 0 13px 10px;
  width: 16px;
  height: 18px;
}
.Create-message__icon_camera {
  background: url("../images/Camera.svg") no-repeat;
  margin: 7px 0 13px 10px;
  width: 21px;
  height: 17px;
}
