.Shortcut-menu {
  display: flex;
  padding-left: 300px;
}

.Shortcut-menu a {
  text-decoration: none;
  font-family: SFUIText;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
  margin:10px;
}
