<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <link rel="stylesheet" type="text/css" href="style/media-screen.css">
    <link rel="stylesheet" type="text/css" href="style/main-container.css">
    <link rel="stylesheet" type="text/css" href="style/main-container__nav.css">
    <link rel="stylesheet" type="text/css" href="style/main-container__link.css">
    <link rel="stylesheet" type="text/css" href="style/main-container__creation.css">
    <link rel="stylesheet" type="text/css" href="style/quick.css">
    <link rel="stylesheet" type="text/css" href="style/quick__friends.css">
    <link rel="stylesheet" type="text/css" href="style/quick__recomendation.css">
    <link rel="stylesheet" type="text/css" href="style/feeds__header.css">
    <link rel="stylesheet" type="text/css" href="style/feeds.css">
    <link rel="stylesheet" type="text/css" href="style/feeds__actions.css">
    <link rel="stylesheet" type="text/css" href="style/main-container__actions__contacts.css">
    <link rel="stylesheet" type="text/css" href="style/main-container__actions__item.css">
    <link rel="stylesheet" type="text/css" href="style/main-container__actions.css">
    <link rel="stylesheet" type="text/css" href="style/main-container__actions__friends.css">
    <link rel="stylesheet" type="text/css" href="style/main-navigatio.css">
    <link rel="stylesheet" type="text/css" href="style/profile-img.css">
    <link rel="stylesheet" type="text/css" href="style/main-container__actions__search.css">
    <link rel="stylesheet" type="text/css" href="style/new-feed.css">
    <link rel="stylesheet" type="text/css" href="style/new-feed__actions.css">
    <link rel="stylesheet" type="text/css" href="style/new-feed__publish.css">
    <link rel="stylesheet" type="text/css" href="style/new-feed__mind.css">
    <link rel="stylesheet" type="text/css" href="style/new-feed__extend.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Facebook</title>
</head>
<body>

<script src="build/bundle.js"></script>

</body>

</html>