.Navigation {
  width: 224px;
  height: 947px;
  margin: auto 0 0 0;
  display: flex;
  flex-direction: column;
}

.Settings {
  width: 986px;
  height: 57px;
  margin-top: 59px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
}