.Layout {
  display: flex;
  flex-direction: row;

  &__aside {
    width: 224px;
    height: 947px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  &__main {
    width: 1097.8px;
    height: 947px;
    display: flex;
    flex-direction: column;
  }
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Search {
  float: right;
}

.Calendar {
  width: 986px;
  display: flex;
  flex-direction: column;

  &__weekside {
    display: flex;
    flex-direction: row;
  }

  &__cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}