<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Layout.css">
        <link rel="stylesheet" href="style/Search-destination.css">
        <link rel="stylesheet" href="style/User-navigation.css">
        <link rel="stylesheet" href="style/Site-navigation.css">
        <link rel="stylesheet" href="style/Hero-article.css">
        <link rel="stylesheet" href="style/Footer.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <form class="Search-destination" action="">
                <img class="Search-destination__icon" src="">
                <input class="Search-destination__input" type="search" placeholder="Anywhere">
                <img class="Search-destination__icon" src="">
                <input class="Search-destination__input" type="search" placeholder="Anytime">
                <img class="Search-destination__icon" src="">
                <input class="Search-destination__input" type="search" placeholder="1 guest">
            </form>
            <nav class="User-navigation">
                <a class="User-navigation__item" href="">Become a host</a>
                <a class="User-navigation__item" href="">Help</a>
                <a class="User-navigation__item" href="">Sign in</a>
                <a class="User-navigation__item" href="">Log in</a>
            </nav>
            <nav class="Site-navigation">
                <a class="Site-navigation__item Site-navigation__item_for-you" href="">FOR YOU</a>
                <a class="Site-navigation__item" href="">HOMES</a>
                <a class="Site-navigation__item" href="">EXPERIENCES</a>
                <a class="Site-navigation__item" href="">PLACES</a>
            </nav>

        </header>
        <main class="Layout__payload">

            <article class="Hero-article Hero-article_booked">
                <title class="Hero-article__title">Just Booked</title>
                <figure class="Hero-article__item">
                    <img class="Hero-article__item_picture" src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img class="Hero-article__item_picture" src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img class="Hero-article__item_picture" src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img class="Hero-article__item_picture" src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img class="Hero-article__item_picture" src="" alt="">
                    <p></p>
                </figure>
            </article>


            <article class="Hero-article Hero-article_destination">
                <title class="Hero-article__title">Featured destinations</title>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
            </article>


            <article class="Hero-article Hero-article_experiences">
                <title class="Hero-article__title">Experiences</title>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
            </article>


            <article class="Hero-article Hero-article_places">
                <title class="Hero-article__title">Places in London</title>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
                <figure class="Hero-article__item">
                    <img src="" alt="">
                    <p></p>
                </figure>
            </article>


        </main>
        <footer class="Layout__footer">
            <section class="Footer">
                <section class="Select-boxes">
                    <div class="Language">
                        <select class="Language__select">
                            <option value="1">English</option>
                            <option value="2">Ukrainian</option>
                            <option value="3">Polski</option>
                            <option value="4">Espanol</option>
                            <option value="5">Italian</option>
                            <option value="6">Japanese</option>
                        </select>
                    </div>
                    <div class="Payment-currency">
                        <select class="Payment-currency__select">
                            <option value="1">INR</option>
                            <option value="2">USD</option>
                            <option value="3">EUR</option>
                            <option value="4">UAH</option>
                        </select>
                    </div>
                </section>
                <aside class="Additional-info">
                    <div class="Additional-info__item">
                        <p class="Additional-info__item_title">Airbnb</p>
                        <a class="Additional-info__item_link" href="">About us</a>
                        <a class="Additional-info__item_link" href="">Careers</a>
                        <a class="Additional-info__item_link" href="">Press</a>
                        <a class="Additional-info__item_link" href="">Policies</a>
                        <a class="Additional-info__item_link" href="">Help</a>
                        <a class="Additional-info__item_link" href="">Diversity & Belonging</a>
                    </div>
                    <div class="Additional-info__item">
                        <p class="Additional-info__item_title">Discover</p>
                        <a class="Additional-info__item_link" href="">Trust & Safety</a>
                        <a class="Additional-info__item_link" href="">Travel Credit</a>
                        <a class="Additional-info__item_link" href="">Gidt Cards</a>
                        <a class="Additional-info__item_link" href="">Airbnb Citizen</a>
                        <a class="Additional-info__item_link" href="">Business Travel</a>
                        <a class="Additional-info__item_link" href="">Guidebooks</a>
                        <a class="Additional-info__item_link" href="">Airbnbmag</a>
                    </div>
                    <div class="Additional-info__item">
                        <p class="Additional-info__item_title">Hosting</p>
                        <a class="Additional-info__item_link" href="">Why Host</a>
                        <a class="Additional-info__item_link" href="">Hospitality</a>
                        <a class="Additional-info__item_link" href="">Responsible Hosting</a>
                        <a class="Additional-info__item_link" href="">Community Center</a>
                    </div>
                </aside>
                <div class="Divider"></div>
                <div class="Copyright">Airbnb, Inc.</div>
                <div class="Terms-Privacy-SiteMap">
                    <a class="Terms-Privacy-SiteMap__item" href="">Terms</a>
                    <a class="Terms-Privacy-SiteMap__item" href="">Privacy</a>
                    <a class="Terms-Privacy-SiteMap__item" href="">Site Map</a>
                </div>
                <div class="Social-network-icons"></div>
            </section>
        </footer>
    </body>
</html>