.double-section {
  clear: both;
  width: 980px;
  margin: 40px auto 120px;

  &__right-img {
    margin-left: auto;
    margin-right: 0;
    display: block;
    position: relative;
    width: 570px;
    overflow: hidden;
    z-index: 100;
  }

  &__left-img {
    margin-right: auto;
    margin-left: 0;
    display: block;
    position: relative;
    width: 570px;
    overflow: hidden;
    z-index: 100;
  }

  &__left-article{
    margin-top: -355px;
    margin-left: 0;
    margin-right: auto;
    display: block;
    position: relative;
    width: 470px;
    height: 289px;
    box-shadow: 0 0 35px gray;
    z-index: 105;
    background-color: #ffffff;
  }

  &__right-article{
    margin-top: -345px;
    margin-right: 0;
    margin-left: auto;
    display: block;
    position: relative;
    width: 470px;
    height: 289px;
    box-shadow: 0 0 35px gray;
    z-index: 105;
    background-color: #ffffff;
  }


  &__article-tit {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 24px;
    line-height: 1.04;
    color: #4e5665;
  }

  &__article-paragraph {
    font-family: 'Didact Gothic', sans-serif;
    padding-left: 40px;
    line-height: 1.75;
    font-size: 16px;
    margin: 0 auto;
    color: #505050;
  }
}