body {
  margin: 0 auto;
}
.footer-section {
  width: 17%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding-top: 20px;
  text-align: center;
  height: 263px;
}
.footer-section__title {
  font-size: 15px;
  line-height: 1.33;
  color: #4e5665;
  text-align: left;
  padding-top: 20px;
  font-weight: 600;
  margin: 0;
}
.footer-section__agency-title {
  color: #37c491;
  font-size: 34px;
  font-weight: 500;
}
.footer-section__list-element {
  font-size: 14px;
  line-height: 1.36;
  color: #4e5665;
  padding-top: 10px;
  font-weight: normal;
  text-align: left;
  vertical-align: baseline;
}
.footer-section__select {
  width: 140px;
}
.footer-section__select_img {
  background-image: url("https://www.commondreams.org/sites/default/files/views-article/flag_0.jpg");
  padding-left: 15px;
}
.footer-section__list {
  list-style: none;
  padding-left: 0;
}
.footer {
  height: 314px;
  background-color: #f8f8f8;
  box-shadow: inset 0 4px 5px -5px #333;
  margin-top: 100px;
}
.footer__rights {
  display: block;
  font-size: 15px;
  line-height: 1.33;
  color: #4e5665;
  text-align: center;
  font-weight: 600;
  overflow: hidden;
  margin: 0;
}
