.article__title {
  font-size: 32px;
  line-height: 1.19;
  color: #4e5665;
  font-weight: normal;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  margin: 0;
}
.article__paragraph {
  font-family: 'Didact Gothic', sans-serif;
  width: 960px;
  line-height: 1.75;
  font-size: 16px;
  margin: 0 auto;
  color: #505050;
  overflow: hidden;
}
.article__paragraph_link {
  color: #ecb84c;
  text-decoration: none;
}
.article__separator {
  display: block;
  border: 0;
  width: 1170px;
  margin: 55px auto 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
