.image-info-section {
  text-align: center;
  list-style:none;
  margin: 40px auto 0;

  &__image {
    height: 100px;
  }

  &__figure-caption {
    font-size: 20px;
    font-weight: 500;
    color: #4e5665;
    margin-top: 16px;
    padding-bottom: 6px;
  }

  &__under-text {
    color: #909090;
  }
}

.statistics-image {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}