.comments {
  &__views {
    float: left;
    margin: 0;
    line-height: 24px;
    vertical-align: middle;
    font-weight: normal;
    margin-right: 32px;
  }
  &__sorts {
    color: rgba(17, 17, 17, 0.5);
    font-weight: bolder;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  &__add{
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
  }
  &_right {
    width: 100%;
  }
  &__typing {
    color: rgba(17, 17, 17, 0.6);
    width: 100%;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #efedef;
    height: 21px;
    margin-bottom: 4px;
  }
  &__agreement{
    font-size: 13px;
    color:rgba(17, 17, 17, 0.6);
    float: left;
  }
  &__condition{
    color:rgba(17, 17, 17, 0.6);
  }
  &__cancel{
    color: rgba(17, 17, 17, 0.6);
    text-transform: uppercase;
    margin: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    float: right;
    &:hover{
      color: rgba(17, 17, 17, 0.9);
    }
  }
  &__submit{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    float: right;
    background-color: rgba(39, 147, 230, 0.9);
    cursor: pointer;
    //&:disabled{
    //  background-color: rgba(39, 147, 230, 0.2);
    //  float: right;
    //}

  }


}