.calendar-button{
  padding: 10px;
  border: 1px solid #efefef;
  width: 90px;
  background-color: transparent;
  color: #DCD2D3;
}

.calendar-button_active{
  background-color: white;
  border-color: white;
  border-radius:  0 5px 5px 0 ;
  box-shadow:0 8px 16px 0 rgba(243, 0, 0, 0.1);
  color: #ed5454;
}