.day {
  border: 1px solid #efefef;
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #8a888a;
}
.day_other-month {
  opacity: 0.5;
  background-color: #FBFAFB;
}
.day_active {
  margin: -5px;
  background-color: #ed5454;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  float: right;
  text-align: center;
}
