.day {
  border: 1px solid #f2f2f2;
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
  color: #c6c2c3;
  font-weight: 600;
  font-size: 14px;
}
.day_other-month {
  opacity: 0.5;
  background-color: #f9f9f9 ;
}
.day-name {
  text-align: center;
  color: #c6c2c3;
  font-size: 13px;
}
.day_active {
  margin: -5px;
  background-color: #ef2f4f;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  float: right;
  text-align: center;
}
