.logo__item {
  border-radius: 47%;
}
.logo__caption {
  color: #c6c2c3;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}
