.Selection {
  display: flex;
  width: 204px;

  &__button {
    width: 102px;
    height: 45px;
    border-radius: 5px;
    border: solid 1px #efefef;
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfbfc;
    font-size: 14px;
    text-align: center;
    color: #a8b2b9;

    &_active {
      background-color: #ffffff;
      box-shadow: 0 8px 16px 0 rgba(243, 0, 0, 0.1);
      border: solid 1px #ffffff;
      color: #ed5454;
    }
  }

}