.Layout {
  margin: 0;
  padding: 0;

  &__aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 224px;
    height: 100%;
    background-color: #00ADEF;
  }

  &__main {
    position: fixed;
    top: 0;
    left: 224px;
    width: calc(~"100%-224px");
  }
}