@sprite: "../images/icon-sprite5.png";

.Date-switcher {
  display: inline;
  position: relative;
  left: 204px;
  &__time {
    font-size: 17px;
    line-height: 45px;
  }
  &__arrow {
    width: 17px;
    height: 17px;
    opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
    background: url(@sprite);
    background-size: 0.8 * image-width(@sprite) 0.8 * image-height(@sprite);
    &_left {
      background-position: 0 194px;
    }
    &_right {
      background-position: 0 177px;
    }
  }
}