.Event {
  position: relative;
  right: 0;
  line-height: 20px;
  margin-left: 3px;
  font-size: 12px;
  border-left: 5px solid;
  padding: 5px;
  word-wrap: break-word;
  margin-top: 5px;
  &_yellow {
    background-color: rgba(255, 204, 0, 0.2);
    color: rgb(255, 204, 0);
  }
  &_red {
    background-color: rgba(255, 77, 77, 0.3);
    color: rgb(255, 77, 77);
  }
  &_orange {
    background-color: rgba(255, 140, 26, 0.3);
    color: rgb(255, 140, 26);
  }
  &_blue {
     background-color: rgba(0, 92, 230, 0.3);
     color: rgb(0, 92, 230);
   }
  &_green {
    background-color: rgba(0, 179, 0, 0.3);
    color: rgb(0, 179, 0);
  }
  &_purple {
      background-color: rgba(191, 0, 255, 0.3);
      color: rgb(191, 0, 255);
    }
}