.Event {
  line-height: 20px;
  margin-left: 3px;
  font-size: 12px;
  border-left: 5px solid;
  padding: 5px 10px;
  word-wrap: break-word;
  margin-top: 5px;
  clear: both;
  &_orange {
    background-color: rgba(253, 155, 91, 0.3);
    color: rgb(253, 155, 91);
  }
  &_blue {
     background-color: rgba(52, 111, 241, 0.3);
     color: rgb(52, 111, 241);
   }
  &_green {
    background-color: rgba(88, 203, 125, 0.3);
    color: rgb(88, 203, 125);
  }
  &_active {
    background-color: #fd9b5b;
    width: 135.8px;
    height: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    box-shadow: 0 4px 11px 0 rgba(189, 159, 189, 0.81);
    position: relative;
  }
}