.Event {
  position: relative;
  right: 0;
  line-height: 20px;
  margin-left: 3px;
  font-size: 12px;
  border-left: 5px solid;
  padding: 5px;
  word-wrap: break-word;
  margin-top: 5px;
}
.Event_yellow {
  background-color: rgba(255, 204, 0, 0.2);
  color: #ffcc00;
}
.Event_red {
  background-color: rgba(255, 77, 77, 0.3);
  color: #ff4d4d;
}
.Event_orange {
  background-color: rgba(255, 140, 26, 0.3);
  color: #ff8c1a;
}
.Event_blue {
  background-color: rgba(0, 92, 230, 0.3);
  color: #005ce6;
}
.Event_green {
  background-color: rgba(0, 179, 0, 0.3);
  color: #00b300;
}
.Event_purple {
  background-color: rgba(191, 0, 255, 0.3);
  color: #bf00ff;
}
