.Layout {
  margin: 0;
  padding-left: 224px;
  background-color: #fcfbfc;
  font-family: Montserrat, sans-serif;
  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 59px;
    width: 224px;
    background-color: #ffffff;
    box-shadow: -8px 0 42px 0 rgba(42, 34, 64, 0.14);
  }
  &__content {
    width: 982px;
    margin: 59px auto;
  }
}