.Layout {
  margin: 0;
  padding-left: 224px;

  &__sidebar {
    background-color: yellowgreen;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 224px;
  }
  &__content {
    background-color: cornflowerblue;
    width: 982px;
    margin: auto;
  }
}