.Navigation {
  margin-top: 10px;
  &__item {
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 56px;
    color: #a8b2b9;
    padding-left: 20px;
    &_active {
      border-left: #ed5454 5px solid;
      padding-left: 15px;
    }
  }
  &__background {
    padding-right: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    &_overview {
      background: url("../images/1.svg") no-repeat;
      background-size: image-width("../images/1.svg") image-height("../images/1.svg");
    }
    &_messages {
      background: url("../images/2.svg") no-repeat;
      background-size: image-width("../images/2.svg") image-height("../images/2.svg");
    }
    &_workout {
      background: url("../images/3.svg") no-repeat;
      background-size: image-width("../images/3.svg") image-height("../images/3.svg");
    }
    &_calendar {
      background: url("../images/4.svg") no-repeat;
      background-size: image-width("../images/4.svg") image-height("../images/4.svg");
    }
    &_goals {
      background: url("../images/5.svg") no-repeat;
      background-size: image-width("../images/5.svg") image-height("../images/5.svg");
    }
    &_achievements {
      background: url("../images/6.svg") no-repeat;
      background-size: image-width("../images/6.svg") image-height("../images/6.svg");
    }
    &_measurements {
      background: url("../images/7.svg") no-repeat;
      background-size: image-width("../images/7.svg") image-height("../images/7.svg");
    }

  }
}