.User-info {
  width: 114px;
  margin: auto;

  &__pic {
    //border-radius: 50%;
    position: relative;
    left: 17px;
    width: 87px;
    height: 87px;
  }
  &__name {
    color: rgba(41, 37, 41, 0.55);
    text-align: center;
    font-size: 14px;
  }
}