.header {
    background-color: blueviolet;
    height: 60px;
    padding: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    &__title {
        font-size: 20px;
    }
}

.task-list-logo {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    padding-left: 195px;
}

.add-task-form {
    padding-left: 144px;
    padding-top: 5px;
    display: flex;
    &__field {
        border: 2px solid purple;
        border-radius: 5px 5px;
        height: 20px;
        padding-left: 2px;
        background-color: mediumpurple;
    }
    &__button {
        border: 2px solid purple;
        border-radius: 5px 5px;
        background-color: violet;
        height: 26px;
    }
}


