.main-section {
    /*text-align: center;*/
    border: 1px solid blueviolet;
    border-bottom: transparent;
    max-width: 508px;
    margin: auto;
}

.task-list {
    padding: 7px 5px 5px 5px;
    border-bottom: 1px solid blueviolet;
    overflow: hidden;
    white-space: nowrap;
    &__checkbox {
        margin: 0 0 0 4px;
    }
    &__edit-button {
        border: 2px solid purple;
        border-radius: 5px 5px;
        background-color: violet;
        height: 26px;
        float: right;
        margin-right: 2px;
        margin-top: -2px;
    }
    &__remove-button {
        border: 2px solid purple;
        border-radius: 5px 5px;
        background-color: violet;
        height: 26px;
        float: right;
        margin-top: -2px;
    }
}
