.Hero-article {
  width: 1032px;
  height: 356px;
  display: flex;
  background-color: red;
  margin-bottom: 20px;
  margin-right: 10px;

  &__item {

    &_picture {

    }

  }


  &__destination {

  }
}