.Main-title {
  font-family: Poppins, sans-serif;

  &__name {
    color: red;
    height: 74px;
    font-size: 45px;
    font-weight: 600;
  }

  &__text {
    color: #484848;
    width: 759px;
    font-size: 43px;
    line-height: 1.3;
  }
}