.Search {
  position: relative;

  &__input {
    font-size: 19px;
    width: 1030px;
    height: 72px;
    box-shadow: 0 2px 16px 0 #ececec;
    border: solid 1px #dbdbdb;
    border-radius: 5px;
  }

  &__button {
    width: 95px;
    height: 48px;
    border: solid 1px transparent;
    border-radius: 5px;
    background-color: #ff5661;
    color: #ffffff;
    font-size: 19px;
    position: absolute;
    left: 920px;
    top: 13px;
  }
}