.Site-navigation {
  width: 330px;
  display: flex;
  justify-content: space-between;
  margin-right: 200px;

  &__item {
    text-decoration: none;
    font-family: SFUIText, sans-serif;
    font-size: 14px;
    color: #484848;
    &_for-you {
      color: #00a799;
    }
  }
}