.User-navigation {
  width: 311px;
  display: flex;
  justify-content: space-between;

  &__item {
    text-decoration: none;
    font-family: SFUIText, sans-serif;
    font-size: 14px;
    color: #484848;
  }
}