html {
  background-color: #e6f3fc;
}

.chatbox {
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  &__info {
    background-color: #2994fb;
    width: 100%;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  &__status {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-right: 8px;
    background-color: #69f0ae;
  }
  &__friend-name {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 13px;
  }
  &__options, &__friend-info {
    display: flex;
    align-items: center;
  }
  &__option {
    margin-left: 10px;
  }
  &__chat {
    height: 250px;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
  }
  &__message {
    display: block;
    padding: 5px 10px;
    font-size: 13px;
  }
  &__messages {
    padding: 8px 15px;
    &:after {
    content: "";
    display: table;
    clear: both;
    }
    &_friend {
        position: relative;
      .chatbox__message {
        margin: 1px 0 1px 35px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #f4f3f3;
        color: #353535;
        float: left;
        clear: left;
        &:first-of-type {
          border-top-left-radius: 15px;
        }
        &:last-of-type {
          border-bottom-left-radius: 15px;
        }
        &:only-of-type {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
    }
    &_user {
      .chatbox__message {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #2994fb;
        color: white;
        float: right;
        clear: right;
        margin: 1px 0;
        &:first-of-type {
          border-top-right-radius: 15px;
        }
        &:last-of-type {
          border-bottom-right-radius: 15px;
        }
        &:only-of-type {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
  &__friend-img {
    width: 28px;
    border-radius: 100%;
    position: absolute;
    left: 15;
    top: 15;
  }
  &__time {
    color: #828282;
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  &__type-message {
    border-top: 1px solid #e5e5e5;
  }
  &__input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  &__input-options {
    padding: 0 15px 10px;
  }
  &__input-option {
    margin-right: 5px;
  }
}

.container {
  width: 20%;
}
