@import "_variables";
@import "../normalize.css";
@import "header";
@import "footer";
@import "layout";
@import "navigation";
@import "tasting-room";
@import "image-box";
@import "main_tasting_room";
@import "different_info";
@import "gallery";
@import "vintage";
@import "wines";
@import "shop_nav";
@import "reviews";
@import "utils";
@import "footer_nav1";
@import "communication";
@import "license";
@import "1200_grid_generated.css";
a{
  color: black;
  border-bottom: 2px solid black;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid transparent;
}

h1{  font-weight: normal;}

h2{  font-weight: normal;}

h3{  font-weight: normal;}

html{
  margin: 0;
  font-size: 0;
}

*::selection{
  background: @selection_color
}

body {
  margin: 0;
  line-height: @line-height-general;
  font-size: @font-size-general;
  font-family: @font-general;

  [class~='debug'] &{background: magenta}
}