@import "_variables";
@import "header";
@import "footer";
@import "layout";
@import "navigation";
@import "tasting-room";
@import "image-box";
@import "main_tasting_room";
@import "different_info";
@import "gallery";
@import "vintage";
@import "wines";
@import "shop_nav";
@import "reviews";
//TODO remaster a_href and on-hower behaviour

a:hover {
  text-decoration: none;

}
a{
  color: black;
  text-decoration: underline;
}

html{
  margin: 0;
  font-size: 0;
  //background-color: magenta;
}

body {
  //font-size: 0;
  margin: 0;
  background: magenta;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #1b1b1b;
}
