@import "image-box";

.gallery{

  &__more-imgs{
    float: right;
    display: inline-block;
    position: relative;
    top: @imgbox__height - @imgbox__img-height - 50px;
    width: 90px; //TODO generalize
    background-color: red;
    text-align: left;
  }

}