@import "_variables";
.layout {
  //width: @layout_width;
  margin-top: @layout_margin_top;
  margin-left: auto;
  margin-right: auto;

  //TODO BUG -- horisontal scroll present

  &__header{
    overflow: auto;
    padding-bottom: 100px;
  }
  &__aside-feed{
    display: inline-block;
    float: left;
    width: @aside__width;
  }
  &__main-feed{
    //display: inline-block;
    //width: @main_width;
    //float: right;
  }



  &__note{
    margin-bottom: 20px;
    display:inline-block;
    &_small{
      font-size: 0.8em;
      display:inline-block;
    }
  }

  &__footer{
    line-height: 2;
    clear: both;
    margin-bottom: @layout_margin_bottom;
  }

  [class ~= 'debug']&{background-color: deepskyblue;}
  [class ~= 'debug']&__header {background-color: #cc3333;}
  [class ~= 'debug']&__aside-feed {background-color: mediumpurple;}
  [class ~= 'debug'] &__main-feed {background-color: cornflowerblue;}
  [class ~= 'debug'] &__footer{background-color: greenyellow;}

}
