.tasting-room{
  float: right;
  width: 200px; //TODO make proper width

  display: inline-block;
  height: @header_height;

  &__contacts{}
  &__h1{}
  &__workinfo{}
  &__ride-map{}

  [class~="debug"] &{background-color: greenyellow;}
}