@import "_variables";
@import "utils";

.wines{
  &__wine-block{
    margin-top: 50px;
    padding: 4px;
    [class~="debug"] &{background-color: darkcyan; outline: black 1px solid}
  };
  &__wine-proposition{};
  &__line{
    display: block;
    overflow: visible;
    background-color: yellow;
  };
  &__wine-description{};

}